body {
	font-family: 'Nunito Sans', sans-serif;
	background: #F8F8FA;
	padding: 16px 16px;
	margin: 0;
}
h1 {
	font-size: 40px;
	font-weight: 900;
	color: #432E30;
	margin-top: 96px;
	margin-bottom: 0;
}
p {
	font-size: 25px;
	font-weight: 300;
	color: #4A4A4A;
	margin-top: 24px;
	margin-bottom: 0px
}
a {
	text-decoration: none;
}
.links {
	display: flex;
	justify-content: flex-end;
	column-gap: 16px;
}
.link {
	display: flex;
	align-items: center;
	column-gap: 4px;
	color: #432E30;
	transition: color 0.3s ease-out;
}
.link:hover{
	color: #FE6A6B;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile-pic {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 12px 36.8px 9.2px rgb(0 0 0 / 10%);
	margin-top: 24px;
}
